/node_modules
/public/frontend/css
/public/frontend/js
/public/frontend/mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
